# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/src/main/resources/frontend/dist
/src/main/resources/frontend/tmp
/src/main/resources/frontend/out-tsc

# dependencies
/src/main/resources/frontend/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Spring
/.mvn
/.settings
/target
