<div class="container lead p-0">
    <nav class="navbar navbar-dark bg-success navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
        </div>
    </nav>
    <div class="p-4">
        <div class="display-4 pt-2 pb-4">Page not found!</div>
        <div class="error-image pt-4">
          <img src="assets/images/page-not-found.png" alt="ERROR 404">
        </div>
    </div>
</div>
  