<div class="container lead p-0">
    <nav class="navbar navbar-dark bg-success navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
        </div>
    </nav>
    <div class="p-4">
        <div class="display-4 pt-2 pb-4">Employee view</div>
        <div class="row pt-3 pl-4">
          <div class="col-6">Name:</div>
          <div class="col-6">{{ name }}</div>
        </div>
        <div class="row pt-3 pl-4">
          <div class="col-6">Active:</div>
          <div class="col-6">{{ active }}</div>
        </div>
        <div class="row pt-3 pl-4">
          <div class="col-6">Department:</div>
          <div class="col-6">{{ departmentName }}</div>
        </div>
    </div>
    
</div>
  